<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body id="admin-body">
    <div class="row">
        <div id="side-bar" class="col-2 border">
            <nav class="nav flex-column">
                <div class="container mt-5 mb-5">
                    <h3>ADMIN</h3>
                </div>
                <hr>
                <a class="nav-link active" href="/admin">Tài khoản</a>
                <a class="nav-link" href="/admin/transaction">Giao dịch</a>
                <a class="nav-link" href="/logout"><button class="btn btn-primary">Đăng xuất</button></a>
            </nav>
        </div>
        <div class="col col-2">
        </div>
        <div id="nav-admin" class="col">
            <div class="border">
                <nav class="navbar navbar-light p-2">
                    <a class="navbar-brand" href="/admin">
                        <h4>ONLINEBANKING</h4>
                    </a>
                </nav>
            </div>

            <div class="container col-8 mt-5 pt-5">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link " href="/admin">Đang chờ kích hoạt</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/activated">Đã kích hoạt</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/deactivated">Vô hiệu hóa</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/admin/locked">Khóa vô thời hạn</a>
                    </li>
                </ul>
                <table class="table border">
                    <thead class="thead-dark">
                            <th>Username</th>
                            <th>Họ và tên</th>
                            <th>Email</th>
                            <th>Địa chỉ</th>
                            <th>Số điện thoại</th>
                            <th>Ngày tạo</th>
                    </thead>
                    <tbody>
                        {{#each user}}
                            <tr onclick="profile({{username}})">
                                <td>{{username}}</td>
                                <td>{{HoVaTen}}</td>
                                <td>{{Email}}</td>
                                <td>{{DiaChi}}</td>
                                <td>{{SoDienThoai}}</td>
                                <td>{{NgayTao}}</td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
</div>
</body>
<script src="/script/main.js"></script>
</html>