<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Document</title>
</head>

<body onload="onloadRuttien()">
    <div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light p-3">
            <a class="navbar-brand" href="/">Online Banking</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Trang chủ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/chuyentien">Chuyển tiền</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/ruttien/add">Rút tiền</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/naptien/add">Nạp tiền</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/lichsu">Lịch sử giao dịch</a>
                    </li>
                </ul>
                <a href="/logout">Đăng xuất</a>
            </div>
        </nav>
    </div>

    <div class="container my-4">
        <h1 class="text-center">RÚT TIỀN</h1>
        <form action="" method="post">
            <div class="form-group">
                <label for="">Số thẻ</label>
                {{#if errors.SoTheMessage}}
                <input required name="SoThe" type="number" class="form-control is-invalid" placeholder="Nhập số thẻ">
                <div class="invalid-feedback">{{errors.SoTheMessage}}</div>
                {{else}}
                <input value="{{errors.data.SoThe}}" required name="SoThe" type="number" class="form-control"
                    placeholder="Nhập số thẻ">
                {{/if}}
            </div>

            <div class="form-group">
                <label>Ngày hết hạn</label>
                {{#if errors.NgayHetHanMessage}}
                <input required name="NgayHetHan" type="date" class="form-control is-invalid">
                <div class="invalid-feedback">{{errors.NgayHetHanMessage}}</div>
                {{else}}
                <input value="{{errors.data.NgayHetHan}}" required name="NgayHetHan" type="date" class="form-control">
                {{/if}}
            </div>

            <div class="form-group">
                <label for="">Mã CVV</label>
                {{#if errors.CVVMessage}}
                <input required name="CVV" type="number" class="form-control is-invalid" placeholder="Nhập mã CVV">
                <div class="invalid-feedback">{{errors.CVVMessage}}</div>
                {{else}}
                <input required value="{{errors.data.CVV}}" name="CVV" type="number" class="form-control"
                    placeholder="Nhập mã CVV">
                {{/if}}
            </div>

            <div class="form-group">
                <label>Số tiền rút</label>
                {{#if errors.SoTienMessage}}
                <input required name="SoTien" type="number" class="form-control is-invalid"
                    placeholder="Nhập số tiền cần rút">
                <div class=" was-validated invalid-feedback">
                    {{errors.SoTienMessage}}
                </div>
                {{else}}
                <input value="{{errors.data.SoTien}}" required name="SoTien" type="number" class="form-control"
                    placeholder="Nhập số tiền cần rút">
                {{/if}}
            </div>

            <div class="form-group">
                <label>Ghi chú</label>
                <textarea name="GhiChu" style="resize: none;" class="form-control"
                    rows="5">{{errors.data.GhiChu}}</textarea>
            </div>

            {{#if errors.GiaoDichToiDaMessage}}
            <div class="alert alert-danger text-center" role="alert">
                {{errors.GiaoDichToiDaMessage}}
            </div>
            {{/if}}

            <div class="text-center">
                <button class="btn btn-success" type="submit">RÚT TIỀN</button>
            </div>
        </form>

        <button style="visibility: hidden;" data-message="{{message}}" id="xac-nhan-rut-tien"
            style="visibility: visible;" type="button" class="btn btn-primary" data-toggle="modal"
            data-target="#exampleModal">
            Launch demo modal
        </button>

        <form action="/ruttien/process" method="POST">
            <!-- Modal -->
            <div class="modal show" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">XÁC NHẬN RÚT TIỀN</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label>Số tiền rút</label>
                                <input disabled value="{{XacNhanSoTienRut}}" type="text" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Phí rút tiền</label>
                                <input disabled value="{{PhiRutTien}}" type="text" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Ghi chú</label>
                                <textarea disabled style="resize: none;" class="form-control"
                                    rows="5">{{errors.data.GhiChu}}</textarea>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                            <button type="submit" class="btn btn-primary">Xác nhận</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="/script/main.js"></script>
</body>

</html>